@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import './variables.css';

/* Setup */
html {
	/* Change default typefaces here */
	font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: $baseFontSize / 16 * 100%;
	/* Make everything look a little nicer in webkit */
	-webkit-font-smoothing: antialiased;
	text-size-adjust: auto
}
